<% if @person_policy.edit_settings? %>
<div class="flexlayout">
<%= form_with(model: @person, local: true) do |form| %>
	<fieldset>
	<legend><%= t 'sections.person.settings' %></legend>
	<%= hidden_field_tag 'formular', 'edit_privacy' %>
	<%= render partial: "shared/errors", locals: {object: @person} %>
	<%= render partial: 'privacy_fieldset', locals: {form: form} %>
	<div class="actions">
		<%= form.submit t('.submit') %>
	</div>
	</fieldset>
<% end %>
</div>
<% end %>
