<% provide :title, Person.model_name.human(count: :other) %>

<%
sort_field = @current_sort
categories = {}
@people.each {|person|
    category_value = person.send(sort_field)
	letter = category_value[0] || " "
	letter.upcase!
	categories[letter] = [] if categories[letter].nil?
	categories[letter].push person
}
show_unpublished_people = policy(Person).view_unpublished?
%>

<article id="people">
	<h1><%= Person.model_name.human(count: :other) %></h1>

	<div class="sort-controls">
		<span class="sort-label">Sortieren nach:</span>
		<div class="sort-buttons">
			<%= link_to 'Vorname', people_path(sort: 'first_name'),
			    class: ['sort-option', (@current_sort == 'first_name' ? 'active' : nil)] %>
			<%= link_to 'Nachname', people_path(sort: 'last_name'),
			    class: ['sort-option', (@current_sort == 'last_name' ? 'active' : nil)] %>
		</div>
	</div>

	<div class="overview">
		<dl>
			<% categories.keys.sort.each do |key| %>
				<div>
					<dt><%= key %></dt>
					<% categories[key].each do |person| %>
						<% if person.publish || show_unpublished_people %>
							<dd><%= person_link_unchecked person %></dd>
						<% else %>
							<dd><%= person.full_name %></dd>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</dl>
	</div>

	<div class="actions">
		<%= icon_button "Tabellenansicht", 'grid_on', people_as_table_path %>
		<%= new_person_link %>
		<% if policy(@people).export? %>
			<%= download_json_button people_path(format: :json) %>
		<% end %>
		<%= sepa_export_button %>
	</div>
</article>
