<% provide :title, Person.model_name.human(count: :other) %>

<%
categories = {}
@people.each {|person|
	letter = person.last_name[0] || " "
	letter.upcase!
	categories[letter] = [] if categories[letter].nil?
	categories[letter].push person
}
show_unpublished_people = policy(Person).view_private?
%>

<article id="people">
	<h1><%= Person.model_name.human(count: :other) %></h1>

	<div class="overview">
		<dl>
			<% categories.keys.sort.each do |key| %>
				<div>
					<dt><%= key %></dt>
					<% categories[key].each do |person| %>
						<% if person.publish || show_unpublished_people %>
							<dd><%= person_link_unchecked person %></dd>
						<% else %>
							<dd><%= person.full_name %></dd>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</dl>
	</div>

	<div class="actions">
		<%= icon_button "Tabellenansicht", 'grid_on', people_as_table_path %>
		<%= new_person_link %>
		<% if policy(@people).export? %>
			<%= icon_button 'Als JSON anzeigen', 'notes', people_path(format: :json) %>
		<% end %>
		<%= sepa_export_button %>
	</div>
</article>