<p>Hallo <%= @registration.person.full_name %>!</p>

<p>Wir haben deine Anmeldung für die Veranstaltung
<b><%= link_to(@registration.event.title, @registration.event) %></b> erhalten und werden sie umgehend bearbeiten.</p>

<p>Unter folgendem Link kannst du deine Anmeldedaten einsehen und bis zum Anmeldeschluss noch abändern:
 <b><%= link_to("Anmeldedaten anzeigen", @registration) %></b></p>

<p>Beachte bitte, dass deine Anmeldung erst gültig ist, wenn du ein SEPA-Lastschriftmandat hinterlegt hast oder dein Teilnahmebeitrag mit dem Verwendungszweck "<%= @registration.reference_line %>" auf unserem Konto angekommen ist.</p>
Die Kontoinformationen findest du unter folgendem Link:
 <b><%= link_to "Kontodaten anzeigen", Rails.configuration.banking_link %></b></p>

<p>Ansonsten freuen wir uns schon herzlich auf deine Teilnahme!</p>
