<%= form_with(model: @group, local: true) do |form| %>
<%= render partial: "shared/errors", locals: {object: @group} %>
<% 5.times {@group.member_affiliations.build} %>
<% 5.times {@group.group_affiliations.build} %>
<fieldset id="group_fieldset">
	<fieldset>
		<legend><%= Group.model_name.human %></legend>
		<div class="aligned">
			<%= form.label :title %>
			<%= form.text_field :title %>
			<%= form.label :description %>
			<%= form.text_area :description, rows: 3, cols: 50 %>
		</div>
	</fieldset>

	<hr>

	<fieldset>
	<legend>Personen hinzufügen</legend>
	<p>Wähle hier die Personen aus, welcher zu dieser Gruppe gehören.</p>
	<table>
	<thead>
		<tr>
			<th><%= Person.model_name.human %></th>
			<th><%= Affiliation.human_attribute_name :start %></th>
			<th><%= Affiliation.human_attribute_name :end %></th>
		</tr>
	</thead>
	<tbody>
	<%= form.fields_for :member_affiliations do |entry| %>
		<tr>
			<td><%= entry.collection_select(:groupable_id, Person.all, :id, :full_name,
				{include_blank: "Kein Benutzer gewählt"}, {:style => "max-width: 15em"}) %>
				<%= entry.hidden_field :groupable_type, :value => "Person" %></td>
			<td><%= entry.date_field :start %></td>
			<td><%= entry.date_field :end %></td>
		</tr>
	<% end %>
	</tbody>
	</table>
	</fieldset>

	<hr>

	<fieldset>
	<legend>Gruppen hinzufügen</legend>
	<p>Füge weitere Untergruppen zu dieser Gruppe hinzu.</p>
	<table>
	<thead>
		<tr>
			<th><%= Group.model_name.human %></th>
			<th><%= Affiliation.human_attribute_name :start %></th>
			<th><%= Affiliation.human_attribute_name :end %></th>
		</tr>
	</thead>
	<tbody>
	<%= form.fields_for :group_affiliations do |entry| %>
		<tr>
			<td><%= entry.collection_select(:groupable_id, Group.all, :id, :title,
				{:include_blank => "Keine Gruppe gewählt"}, {:style => "max-width: 15em"}) %>
				<%= entry.hidden_field :groupable_type, :value => "Group" %></td>
			<td><%= entry.date_field :start %></td>
			<td><%= entry.date_field :end %></td>
		</tr>
	<% end %>
	</table>
	</tbody>
	</fieldset>
	<div class="actions">
		<%= form.submit %>
	</div>
</fieldset>
<% end %>
