<% provide :title, "Anmeldung von " + @registration.person.full_name %>

<% if @registration_policy.view_general? %>
<div class="flexlayout">
<article id="registration" class="panel" style="flex-grow: 0.5">
	<h2><%= "Anmeldung von " + @registration.person.full_name %></h2>

	<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(20em, auto)) ; margin-bottom: 2em">
	<section id="registration_general_information">
		<h3>Allgemeines</h3>
		<dl class="aligned">
			<dt><%= Registration.human_attribute_name :event %>:</dt>
			<dd><%= event_link @registration.event %></dd>
			<dt><%= Registration.human_attribute_name :person %>:</dt>
			<dd><%= person_link @registration.person %></dd>
			<dt><%= Registration.human_attribute_name :organizer %>:</dt>
			<dd><%= render_yes_no @registration.organizer %></dd>
			<dt><%= Registration.human_attribute_name :status %>:</dt>
			<dd><%= Registration.human_enum_value(:status, @registration.status) %></dd>

			<% if @registration_policy.view_private? || @registration.person.publish_birthday %>
			<dt><%= Person.human_attribute_name :birthday %>:</dt>
			<dd><%= @registration.person.birthday %></dd>
			<% end %>

			<dt><%= Person.human_attribute_name :gender %>:</dt>
			<dd><%= Person.human_enum_value(:gender, @registration.person.gender) %></dd>

			<% if @registration_policy.view_private? || @registration.person.publish_email %>
			<dt><%= Person.human_attribute_name :email_address %>:</dt>
			<dd><%= check_unknown(@registration.person.email_address) {|x| mail_to(x)} %></dd>
			<% end %>

			<% if @registration_policy.view_private? || @registration.person.publish_address %>
			<dt><%= Address.model_name.human(count: 1) %>:</dt>
			<dd><%= check_unknown(@registration.person.main_address) {|x|
				render_block_address(x)} %></dd>
			<dt><%= Person.human_attribute_name :mobile_phone %>:</dt>
			<dd><%= check_unknown(@registration.person.mobile_number) {|x|
				mobile_phone_html(x)} %></dd>
			<% end %>

			<% if @registration_policy.view_private? || @registration_policy.view_payments? %>
				<dt><%= Registration.human_attribute_name :effective_money_amount %>:</dt>
				<% money_to_show = check_unknown(@registration.effective_money_amount) {number_to_currency @registration.effective_money_amount}  %>
				<dd>
					<% if @registration.charge_modifiers.blank? %>
						<%= money_to_show %>
					<%else %>
						<details class="inline-details">
							<summary>
								<%= money_to_show %>
							</summary>
							<dl>
								<dt><%= Event.human_attribute_name :cost %></dt>
								<dd><%= check_unknown(@registration.event.cost) { |cost| number_to_currency cost } %></dd>
								<% @registration.charge_modifiers.each do |mod| %>
									<dt><%= mod.reason %></dt>
									<dd><%= check_unknown(mod.money_amount) {number_to_currency mod.money_amount}  %>
									<% unless mod.comment.blank? %>
										</br><%= mod.comment %>
									<% end %>
									</dd>
								<% end %>
							</dl>
						</details>
					<%end %>
				</dd>
			<% end %>
		</dl>
	</section>

	<% if @registration_policy.view_payments? %>
	<section id="registration_status">
		<h3>Zahlungsinformationen</h3>
		<dl class="aligned">
			<dt><%= Registration.human_attribute_name :payment_complete %>:</dt>
			<dd><%= render_yes_no @registration.fully_paid? %></dd>
			<% unless @registration.fully_paid? %>
				<dt><%= Registration.human_attribute_name :to_be_paid %>:</dt>
				<dd><%= check_unknown(@registration.to_be_paid) { |amount| number_to_currency amount } %></dd>
			<% end %>

			<% if @registration.registration_payments.empty? %>
				<dt><%= Registration.human_attribute_name :money_transfer_date %>:</dt>
				<dd><%= render_date @registration.money_transfer_date %></dd>
			<% end %>

			<dt><%= Registration.human_attribute_name :effective_member_discount %>:</dt>
			<dd><%= render_yes_no @registration.effective_member_discount? %></dd>

			<dt><%= Registration.human_attribute_name :other_discounts %>:</dt>
			<dd><%= render_string @registration.other_discounts %></dd>

		</dl>
		<h3>Zahlungen</h3>
		<% unless @registration.registration_payments.empty? %>
			<dl class="aligned">
				<% @registration.registration_payments.each do |payment| %>
					<dt id="payment-<%= payment.id %>"><%= render_date payment.money_transfer_date %></dt>
					<dd>
						<strong><%= RegistrationPayment.human_enum_value(:payment_type, payment.payment_type) %></strong> <%= check_unknown(payment.money_amount) {number_to_currency payment.money_amount} %>
					<% unless payment.category.blank? and payment.comment.blank? %>
						</br><%= [payment.category, payment.comment].reject(&:blank?).join(", ") %>
					<% end %>
					</dd>
				<% end %>
			</dl>
		<% else %>
			Keine Zahlungen
		<% end %>

	</section>
	<% end %>

	<% if @registration_policy.view_additional? %>
	<section id="registration_transport">
		<h3>An- und Abreise</h3>
		<dl class="aligned">
			<dt><%= Registration.human_attribute_name :arrival %>:</dt>
			<dd><%= render_datetime @registration.arrival %></dd>
			<dt><%= Registration.human_attribute_name :departure %>:</dt>
			<dd><%= render_datetime @registration.departure %></dd>
			<dt><%= Registration.human_attribute_name :nights_stay %>:</dt>
			<dd><%= check_unknown(@registration.nights_stay) {|x| x} %></dd>
			<dt><%= Registration.human_attribute_name :station_arrival %>:</dt>
			<dd><%= render_string @registration.station_arrival %></dd>
			<dt><%= Registration.human_attribute_name :station_departure %>:</dt>
			<dd><%= render_string @registration.station_departure %></dd>
			<dt><%= Registration.human_attribute_name :railway_discount %>:</dt>
			<dd><%= render_string @registration.railway_discount %></dd>
		</dl>
	</section>

	<section id="registration_additional">
		<h3>Sonstiges</h3>
		<dl class="aligned">
			<dt><%= Registration.human_attribute_name :meal_preference %>:</dt>
			<dd><%= render_string @registration.meal_preference %></dd>
			<dt><%= Registration.human_attribute_name :talks %>:</dt>
			<dd><%= render_string @registration.talks %></dd>
			<dt><%= Registration.human_attribute_name :comment %>:</dt>
			<dd><%= render_string @registration.comment %></dd>
		</dl>
	</section>
	<% end %>
	</div>

	<div class="actions">
		<% if @registration.person.id == current_user.id && !@registration_policy.edit_general? %>
			<%= event_register_self_link(@registration.event) %>
		<% end %>
		<%= edit_registration_link(@registration) %>
		<%= delete_registration_link(@registration) %>
		<%= view_invitation_link(@registration) %>
		<%= event_register_other_link(@registration.event) %>
		<% if @registration_policy.edit_payments? && !@registration.to_be_paid.nil? %>
		<%= form_with url: pay_rest_registration_path(@registration), method: :post do |form| %>
			<%= form.date_field :pay_rest_date, id: :pay_rest_date, :required => true %>
			<%= form.submit "Rest bezahlt" %>
		<% end %>
		<% end %>
	</div>
</article>
</div>
<% end %>

<script>
	enableDateSetting();
</script>
