<% view_private = @event_policy.list_private_fields? %>
<% view_dummy = @event_policy.list_dummy? %>

<h1><%= @event.title %></h1>

<section id="event_participants_data">
<h2>Teilnehmerliste</h2>

<div class="flexlayout">
<fieldset>
	<legend>Ansicht konfigurieren</legend>
    <div class="flexlayout">
    <fieldset>
        <label>Anmeldungen auswählen</label>
        <%= checkbox("unhide_inactive", "Auch inaktive Anmeldungen anzeigen", false) %>
    </fieldset>
	<fieldset>
        <legend>Spalten auswählen</legend>
        <%= checkbox("show_person_field", "Geschlecht und Geburtstag anzeigen", true) %>
        <%= checkbox("show_phone_field", "Handynummer anzeigen", true) %>
        <%= checkbox("show_travel_field", "Anreiseinformationen anzeigen", true) %>
        <%= checkbox("show_address_field", "Addressdaten anzeigen", false) %>
        <%= checkbox("show_status_field", "Anmeldestatus anzeigen", false) %>
        <% if view_private %>
            <%= checkbox("show_payment_field", "Zahlungsinformationen anzeigen", false) %>
            <%= checkbox("show_other_field", "Sonstige Daten anzeigen", false) %>
        <% end %>
    </fieldset>
    </div>
	<div class="actions">
		<%= download_table_button('#registrations_table') %>
	</div>
</fieldset>
</div>

<table class="registrations indexed_table" id="registrations_table">
<thead>
	<tr>
		<th>#</th>
		<th data-sort="string"><%= Person.human_attribute_name :first_name %></th>
		<th data-sort="string"><%= Person.human_attribute_name :last_name %></th>
		<th data-sort="string" class="person_field"><%= Person.human_attribute_name :gender %></th>
		<th data-sort="string" class="person_field"><%= Person.human_attribute_name :birthday %></th>
		<th data-sort="string" class="phone_field"><%= Person.human_attribute_name :mobile_number %></th>
		<th data-sort="string" class="address_field"><%= Person.human_attribute_name :email_address %></th>
		<th data-sort="string" class="address_field"><%= Address.model_name.human %></th>
		<th data-sort="string" class="status_field"><%= Registration.human_attribute_name :status %></th>
		<th data-sort="string" class="status_field"><%= Registration.human_attribute_name :organizer %></th>
        <th data-sort="string" class="travel_field"><%= Registration.human_attribute_name :nights_stay %></th>
		<th data-sort="string" class="travel_field"><%= Registration.human_attribute_name :arrival %></th>
		<th data-sort="string" class="travel_field"><%= Registration.human_attribute_name :departure %></th>
		<th data-sort="string" class="travel_field"><%= Registration.human_attribute_name :station_arrival %></th>
		<th data-sort="string" class="travel_field"><%= Registration.human_attribute_name :station_departure %></th>
		<th data-sort="string" class="travel_field"><%= Registration.human_attribute_name :railway_discount %></th>
		<% if view_private %>
		<th data-sort="int"    class="payment_field"><%= Registration.human_attribute_name :money_amount_short %></th>
		<th data-sort="string" class="payment_field"><%= Registration.human_attribute_name :to_be_paid_short %></th>
		<th data-sort="string" class="payment_field"><%= Registration.human_attribute_name :effective_member_discount %></th>
		<th data-sort="string" class="payment_field"><%= Registration.human_attribute_name :other_discounts %></th>
		<th data-sort="string" class="other_field"><%= Registration.human_attribute_name :meal_preference %></th>
		<th data-sort="string" class="other_field"><%= Registration.human_attribute_name :talks %></th>
		<th data-sort="string" class="other_field"><%= Registration.human_attribute_name :comment %></th>
		<% end %>
	</tr>
</thead>
<tbody>
	<% @event.registrations.each do |r| %>
		<% if r.status != 'dummy' || view_dummy %>
			<tr class='<%= 'inactive' if !r.active? %>'>
				<td></td>
				<td><%= link_to r.person.first_name, r %></td>
				<td><%= link_to r.person.last_name, r %></td>
				<td class="person_field"><%= Person.human_enum_value(:gender, r.person.gender)%></td>

				<% if view_private || r.person.publish_birthday %>
					<td class="person_field" data-sort-value="<%= r.person.birthday %>"><%= render_date r.person.birthday %></td>
				<% else %>
					<td class="person_field"><%= tag.i("privat") %></td>
				<% end %>

				<td class="phone_field">
					<%= (view_private || r.person.publish_address) ?
						check_unknown(r.person.mobile_number) {|x| mobile_phone_html(x)} : tag.i("privat") %>
				</td>

				<td class="address_field">
					<%= (view_private || r.person.publish_email) ?
						mail_to(r.person.email_address, r.person.email_address) : tag.i("privat") %>
				</td>

				<td class="address_field">
					<%= (view_private || r.person.publish_address) ?
						 check_unknown(r.person.main_address) {|x| render_inline_address(x)} : tag.i("privat") %>
				</td>

				<td class="status_field"><%= Registration.human_enum_value(:status, r.status) %></td>
				<td class="status_field"><%= render_yes_no r.organizer %></td>
				<td class="travel_field"><%= render_string(r.nights_stay) %></td>
				<td class="travel_field" data-sort-value='<%= r.arrival %>'><%= render_datetime r.arrival, :very_short  %></td>
				<td class="travel_field" data-sort-value='<%= r.departure %>'><%= render_datetime r.departure, :very_short %></td>
				<td class="travel_field"><%= render_string r.station_arrival %></td>
				<td class="travel_field"><%= render_string r.station_departure %></td>
				<td class="travel_field"><%= render_string r.railway_discount %></td>
				<% if view_private %>
				<td class="payment_field" data-sort-value="<%= r.money_amount || 0 %>"> <%= check_unknown(r.money_amount) {|x| number_to_currency x} %></td>
				<td class="payment_field" data-sort-value="<%= r.to_be_paid || 0 %>"> <%= check_unknown(r.to_be_paid) {|x| number_to_currency x} %></td>
				<td class="payment_field"><%= render_yes_no r.effective_member_discount %></td>
				<td class="payment_field"><%= render_string r.other_discounts %></td>
				<td class="other_field"><%= render_string r.meal_preference  %></td>
				<td class="other_field"><%= render_string r.talks %></td>
				<td class="other_field"><%= render_string r.comment  %></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</tbody>
</table>
</section>

<script>
$(function(){
	$("#registrations_table").stupidtable();
	$('#event_participants_data input[type=checkbox]').each(function(index, item) {updateVisibility(item)});
    hideRow($('#unhide_inactive'), '.inactive', false);
  })

$('#event_participants_data input[type=checkbox]').click(function() {updateVisibility(this)});
$('#unhide_inactive').click(function() { hideRow(this, '.inactive', false); });
</script>
