<div class="flexlayout">
<article>

<h3>Herzlich willkommen in der QED-Datenbank!</h3>

<% current_year = DateTime.now.year %>
<% if !current_user.paid_until.nil? && current_user.paid_until.year < current_year && current_user.member? && current_user.sepa_mandate.nil? %>
  <% first_unpaid_year = current_user.paid_until.year + 1 %>
  <div class="outstanding">
    Du hast für <% if first_unpaid_year == current_year %>das aktuelle Jahr<% else %>die Jahre <%= first_unpaid_year %> bis <%= current_year %><% end %> noch keinen Mitgliedsbeitrag gezahlt. Überweise bitte <%= number_to_currency (current_year - first_unpaid_year + 1) * Rails.configuration.membership_fee %> an
    <dl>
      <dt></dt><dd>Quod Erat Demonstrandum e.V.</dd>
      <dt>IBAN</dt><dd><%= Rails.configuration.iban %></dd>
      <dt>Verwendungszweck</dt><dd>Mitgliedschaft <% if current_year == first_unpaid_year %><%= current_year %><% else %><%= first_unpaid_year %>-<%= current_year %><% end %>, <%= current_user.reference_line %></dd>
    </dl>
  </div>
<% end %>

Hier kanst du deine eigenen Daten ändern und dich zu Veranstaltungen anmelden.

<% if current_user.member? %>
<li>Als Mitglied hast du die Möglichkeit eine Mitgliederliste des Vereins einzusehen.</li>
<% else %>
<li>Du bist als externe Person angemeldet.</li>
<% end %>
<% if current_user.organizing_now? %>
<li>Als Organisator kannst du deine Veranstaltung bearbeiten und die Daten der Teilnehmer einsehen.</li>
<% end %>
<% if current_user.chairman? %>
<li>Als Vorstand hast du die Möglichkeit sämtliche Daten zu Personen und Veranstaltungen
(außer Zahlungen) zu bearbeiten.</li>
<% end %>
<% if current_user.treasurer? %>
<li>Als Kassier kannst du die Zahlungsinformationen der einzelnen Teilnehmer aktualisieren.</li>
<% end %>
<% if current_user.auditor? %>
<li>Als Kassenprüfer:in kannst du die Zahlungsinformationen der einzelnen Teilnehmer einsehen.</li>
<% end %>
<% if current_user.admin? %>
<li>Als Administrator kannst du sämtliche Daten ändern sowie alle technische Informationen einsehen.</li>
<% end %>

<p><b>Hinweis:</b>
Alle Daten dürfen nur für den privaten Gebrauch verwendet werden! <br>
Desweiteren ist jegliche Weitergabe von Informationen oder Logindaten untersagt.</p>

<p>Im Falle von Fragen und Problemen, könnt ihr das Webmasterteam unter <%= admin_email_link %> erreichen.</p>
</article>
</div>
