<fieldset class="address">
<div class="aligned">
	<%= form.label :street_name %><%= form.text_field :street_name, size: 20 %>
	<%= form.label :house_number %><%= form.text_field :house_number, size: 4 %>
	<%= form.label :address_addition %><%= form.text_field :address_addition, size: 10 %>
	<%= form.label :postal_code %><%= form.text_field :postal_code, size: 8 %>
	<%= form.label :city %><%= form.text_field :city, size: 15 %>
	<%= form.label :country %><%= form.text_field :country, size: 10 %>
</div>
</fieldset>
