<h1><%= t('.title') %></h1>

<section id="outstanding_payments">

<div class="flexlayout">
<fieldset>
		<%= checkbox("unhide_future", "Auch zukünftige Veranstaltungen anzeigen", false) %>
<div class="actions">
	<%= download_table_button('#outstanding_payments_table') %>
	<% if policy(:outstanding_payments).export? %>
		<%= download_json_button outstanding_payments_path(format: :json) %>
	<% end %>
</div>
</fieldset>
</div>

<table class="outstanding_payments indexed_table" id="outstanding_payments_table">
<thead>
	<tr>
		<th>#</th>
		<th data-sort="string"><%= Person.human_attribute_name :first_name %></th>
		<th data-sort="string"><%= Person.human_attribute_name :last_name %></th>
		<th data-sort="string"><%= Event.model_name.human %></th>
		<th data-sort="float"><%= Registration.human_attribute_name :money_amount %></th>
		<th data-sort="float"><%= Registration.human_attribute_name :to_be_paid %></th>
		<th data-sort="string"><%= SepaMandate.model_name.human %></th>
	</tr>
</thead>
<tbody>
	<% @registrations.each do |r| %>
	<tr class='<%= 'future' if r.event.end > Time.current %>'>
		<td></td>
		<td><%= link_to r.person.first_name, r.person %></td>
		<td><%= link_to r.person.last_name, r.person %></td>
		<td><%= link_to r.event.title, r %></td>
		<td data-sort-value="<%= r.effective_money_amount || 0 %>">
			<%= check_unknown(r.effective_money_amount) {|x| number_to_currency x} %>
		</td>
		<td data-sort-value="<%= r.to_be_paid || 0 %>">
			<%= check_unknown(r.to_be_paid) {|x| number_to_currency x} %>
		</td>
		<td>
			<%= render_yes_no(!r.person.sepa_mandate.nil?) %>
		</td>
	</tr>
	<% end %>
</tbody>
</table>
</section>


<script>
$(function(){
	$("#outstanding_payments_table").stupidtable();
    hideRow($('#unhide_future'), '.future', false);
  })
	$('#unhide_future').click(function() { hideRow(this, '.future', false); });
</script>
